.calc-table-container {
    width: 100%;
    height: 500px;
    overflow: auto;
    position: relative;
    border: 1px solid #ccc;
}

.calc-table {
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    table-layout: fixed;
    width: 100%
}

.calc-th {
    position: sticky;
    top: 0;
    z-index: 2;
}

.calc-tbody td:first-child,
.calc-thead th:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
}

.calc-thead th:first-child {
    z-index: 3; /* make corner cell above others */
}

.daily-cal-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 20px;
}

.pie-chart-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 10px;
    gap: 40px;
}

.pie-chart-area div {
    width: auto;
}

.pie-chart-btn-area {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
}

.pie-chart-btn-area select {
    width: 200px;
    margin-right: 20px;
}

.pie-chart-btn-area button {
    float: right;
    font-size: 16px;
    margin-bottom: 15px;
    height: 45px;
}

.cal-details-table {
    width: 100%;
    overflow-y: visible;
}

.cal-section-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    padding: 0 15px 0 15px;
}

.cal-section-1 select {
    width: 300px;
}

.cal-section-1 button {
    width: 150px;
}

.cal-section-1-grid-3 {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.cal-longterm-selection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.cal-longterm-type-btn {
    width: 200px;
}

.cal-selection-header {
    padding: 2rem 2.25rem 0 2.25rem;
}

@media (max-width: 1300px) {
    .pie-chart-area {
        gap: 20px;
    }
}

@media (max-width: 1250px) {
    .pie-chart-area {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cal-details-table {
        width: 1000px;
        overflow-x: scroll;
    }
}

@media (max-width: 1100px) {
    .cal-longterm-selection {
        grid-template-columns: 1fr 1fr;
        gap: 10px 20px;
    }

    .cal-longterm-type-btn {
        width: 100%;
    }
}

@media (max-width: 1030px) {
    .daily-cal-area {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 880px) {
    .pie-chart-area {
        grid-template-columns: 1fr 1fr;
    }

    .cal-section-1-grid-3 {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 670px) {
    .pie-chart-area,
    .cal-section-1-grid-3,
    .daily-cal-area,
    .cal-longterm-selection {
        grid-template-columns: 1fr;
        gap: 10px;
    }
}

@media (max-width: 650px) {
    .cal-section-1 {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .cal-section-1 select, .cal-section-1 button {
        width: 100%;
    }
    
}

@media (max-width: 550px) {
    .pie-chart-btn-area {
        flex-direction: column;
    }

    .pie-chart-btn-area select {
        width: 100%;
        margin-bottom: 10px;
    }
    
    .pie-chart-btn-area button {
        width: 100%;
    }
    
}
