.loading-backdrop {
  position: fixed;
  height: 100%;
  width: 100vw;
  background-color: black;
  opacity: 0.5;
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
  z-index: 9999;
}

.loader {
  width: 60px;
  height: 60px;
  border: 6px solid #ddd;
  border-top: 6px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Spinner animation */
@keyframes spin {
  to { transform: rotate(360deg); }
}